@font-face {
  font-family: "Bourrasque";
  src: url("/fonts/Bourrasque-Regular.woff2") format("woff2"),
    url("/fonts/Bourrasque-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
